# Ігноруємо байт-код Python
*.pyc
__pycache__/

# Ігноруємо налаштування середовища
.env
.env.local
.env.*.local

# Ігноруємо віртуальні середовища
env/
venv/

# Ігноруємо системні файли
.DS_Store

# Ігноруємо директорії конфігурації редакторів
.idea/
.vscode/

# Ігноруємо інші тимчасові файли та директорії
node_modules/
tmp/

# Виключення tkinter, якщо є спеціальні файли або директориї
tkinter/
